@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

/* --------Scrollbar--------- */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb{
    background: orangered;
}
/* --------Universal------- */
*{
    padding: 0%;
    margin: 0%;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* -------Headers------ */
.header-background{
    background-color: #343a40;
    padding: 4px;
}