.logo{
  height: 55px;
  object-fit: contain;
}
.navbar{
  padding: 5px !important;
}
.navbar img{
  position: relative;
  right: 1.75rem;
} 
.navbar ul {
  position: relative;
  left: 4rem;
  list-style: none;
  margin: 0;
  padding: 0 4.5rem;
  gap: 1.5rem;
  font-size: 15px;
}

/* Responsive styles */
@media (max-width: 767px) {
  .navbar ul{
    padding: 0px;
    left: 20px;
    margin-top: 25px;
    width: 200px;
    margin-bottom: 10px;
  }
  .navbar li{
    width: 200px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .navbar ul{
    padding: 0px;
    left: 20px;
    margin-top: 25px;
    width: 200px;
    margin-bottom: 10px;
  }
  .navbar li{
    width: 200px;
  }
}





