.trainerCard {
  transition: transform 0.3s ease;
}
  
.trainerCard:hover {
  transform: scale(1.05);
}
.innerBody{
  background-image: url(../../../public/icons/Company_BG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  padding: 20px;
}
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .logo {
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  .trainerCard h5 {
    margin-top: 10px;
    font-size: 1.25rem;
    color: #333;
  }
  