.banner {
  background-image: url("../../../public/images/business.png");
  background-position:left;
  background-size: cover;
  color: white;
  padding: 70px 20px;
  margin: 20px 0;
}  
.banner h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.banner div{
  margin-left: 120px;
}   
.button {
  padding: 10px 30px;
  font-size: 1rem;
  color: #0c5397;
  background: white;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: orangered;
  color: aliceblue;
}

/* responsive styles */

@media (max-width:767px){
  .banner {
    padding: 40px 20px;
  } 
  .banner div{
    margin-left: 10px;
    text-align: center;
  }   
  .banner h2, .banner h5 {
    margin-bottom: 30px !important;
    font-size: .75rem;
  }
  
}
  