.carousel img{
  height: 400px;
}
.btn-orangered{
  padding: 10px 10px;
  background: orangered;
  color: #fff;
  border: none;
}
.banner h1{
  position: relative;
  bottom: 80px;
  left: 30px;
  font-size: 2.5rem;
}
.banner button{
  position: relative;
  bottom: 80px;
}