.icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0 auto;
}
.job-card {
  background: url('../../../public/images/JobOpenings_BG.jpg') no-repeat center left / cover;
  color: white;
  border: none;
  transition: transform 0.3s ease;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  height: 150px;
  width: 500px;
}
.job-card i{
  color: orangered;
  font-size: 20px;
}  
.job-card.active {
  transform: scale(1.05);
}  
.job-description {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px;
  border-radius: 5px;
} 
.job-card button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: none;
  border: none;
}


/* Responsive Styles */
@media (max-width: 767px) {
  .mainContainer{
    position: relative;
    right: 10px;
  }
  .mainContainer h2{
    text-align: center;
    font-size: 2.05rem;
    width: 330px;
    position: relative;
    left: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
  }
  .job-card {
    height: 145px;
    width: 320px;
  }
}

@media(min-device-width: 768px) and (max-device-width: 1024px){
  .job-card {
    position: relative;
    right: 15px;
    height: 120px;
    width: 320px;
  }
  .mainContainer h4{
    font-size: .9rem;
    font-weight: bold;
  }
  .mainContainer p{
    font-size: .7rem;
  }
}
  